html,body{
    background-color: #f7f7f7;
}

a, .lightgrey{
    color: #9c9c9c;
    text-decoration: none;
    font-weight: bold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 2%;
    width: 100%;
    text-align: right;
}
.footer span{
    margin-left: 10px;
}

#htb{
    color: #9fef00;
}